## Pandas read CSV

In [5]:
import os
import pandas as pd

current_directory = os.getcwd()

In [6]:

csv_file_path = os.path.join(current_directory, 'data.csv')
df_csv = pd.read_csv(csv_file_path)
df_csv

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45      Phoenix

## Pandas create DataFrame

In [7]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 24, 34],
    'City': ['New York', 'LA', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30        LA
2  Charlie   24   Chicago
3    David   34   Houston

## Pandas series

In [8]:
# A Pandas Series is one-dimetional array that can hold any data type.

import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

display(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

## Pandas read json

In [9]:
import os
import pandas as pd

current_directory = os.getcwd()
json_file_path = os.path.join(current_directory, 'data.json')

df_json = pd.read_json(json_file_path)
display(df_json)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45      Phoenix