In [1]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 24, 34],
    'City': ['New York', 'LA', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)

df

      Name  Age      City
0    Alice   25  New York
1      Bob   30        LA
2  Charlie   24   Chicago
3    David   34   Houston