In [2]:
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}

df = pd.DataFrame(data)

In [3]:
# show theo row1, row2, row3, row4
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4'])
df

      A  B   C
row1  1  5   9
row2  2  6  10
row3  3  7  11
row4  4  8  12

In [4]:
# access column A,C and row2, row4
df.loc[['row2', 'row4'], ['A', 'C']]

      A   C
row2  2  10
row4  4  12

In [10]:
# filter row with value column A > 2
df.loc[df['A'] > 2]

      A     B   C
row3  3  0.07  11
row4  4  0.08  12

In [8]:
# Slice based on labels
df.loc[:, 'B': 'C']
df['B'] = df['B']/10
df

      A     B   C
row1  1  0.05   9
row2  2  0.06  10
row3  3  0.07  11
row4  4  0.08  12