## Read CSV

In [ ]:
import os
import pandas as pd

current_directory = os.getcwd()

In [ ]:

csv_file_path = os.path.join(current_directory, 'data.csv')
df_csv = pd.read_csv(csv_file_path)
df_csv

## Filter

In [ ]:
# Filter with multiple condition
display(df_csv.loc[(df_csv['Name'] == "Alice") | (df_csv['Age'] == 40)])

In [ ]:
# Two filters are identical
display(df_csv.loc[df_csv["Age"] == 45]['City'].squeeze())
display(df_csv.loc[df_csv["Age"] == 45, "City"])

In [ ]:
# Get specific volume
display(df_csv.loc[(df_csv['Name'] == "Alice")][['City', 'Age']])

## Pandas create DataFrame

In [47]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 24, 34],
    'City': ['New York', 'LA', 'Chicago', 'Houston']
}
df = pd.DataFrame(data)
df

      Name  Age      City
0    Alice   25  New York
1      Bob   30        LA
2  Charlie   24   Chicago
3    David   34   Houston

# to_dict method

In [50]:
df = pd.DataFrame(data)
display(df)

# convert dataframe to dict of list
df = df.to_dict(orient="records")
display(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30        LA
2  Charlie   24   Chicago
3    David   34   Houston

[{'Name': 'Alice', 'Age': 25, 'City': 'New York'},
 {'Name': 'Bob', 'Age': 30, 'City': 'LA'},
 {'Name': 'Charlie', 'Age': 24, 'City': 'Chicago'},
 {'Name': 'David', 'Age': 34, 'City': 'Houston'}]

### Pandas series

In [ ]:
# A Pandas Series is one-dimetional array that can hold any data type.

import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

display(series)

## Pandas read json

In [ ]:
import os
import pandas as pd

current_directory = os.getcwd()
json_file_path = os.path.join(current_directory, 'data.json')

df_json = pd.read_json(json_file_path)
display(df_json)